# Snowflake Connection Configuration
SNOWFLAKE_ACCOUNT=BVFHIZY-WX49679
SNOWFLAKE_USER=shahida13
SNOWFLAKE_PASSWORD=DkXrTSLKi49ugJu
SNOWFLAKE_DATABASE=PARKING_DETECTION
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=ACCOUNTADMIN

# Model Configuration
MODEL_PATH=models/best1.pt
CONFIDENCE_THRESHOLD=0.4

# Output Configuration
OUTPUT_DIR=outputs
